@import '../../../default.style.scss';

.teacher-list-page {
  width: 100%;
  font-size: 16px;
  margin: 0px auto;
  min-height: 100vh;
  background-color: #fff;
  &__wrapper {
    width: 80%;
    margin: 0px auto;
    padding: 70px 0px;
    &__left {
      width: 20%;
    }
    &__right {
      width: 80%;
      .ant-col {
        margin-top: 24px;
        .teacher-item {
          .ant-col {
            margin-top: 0px;
          }
        }
      }
      .ant-pagination {
        text-align: center;
        margin-top: 50px;
      }
    }
  }
}
