.about-us-home {
    height: 300px;
    margin: 5rem auto;
    text-align: center;
    max-width: 700px;
    animation-name: item-bottom-top;
    animation-duration: 3s;

    .button-more {
        margin-top: 4rem;
        height: 4rem;
        transition: .3s;

         span {
             color: #fff;
             font-size: 2rem;
             font-weight: 600;
         }

         &:hover {
             transform: translateY(-1rem);
             box-shadow: 0 0 0 2px #faad1446 !important;
         }
    }
}