@import '../../common/common.style.scss';

.login-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    text-transform: uppercase;
    font-size: $font-size-large;
    text-align: center;
    margin-top: 5rem;
    color: $color-main;
  }
  .text-alternative {
    margin-top: 20px;
  }
  .login-form {
    margin: 3rem auto;
    width: 400px;
    &__bottom {
      display: flex;
      flex-direction: column;
      .login-form-forgot {
        text-align: right;
        display: block;
        margin-bottom: 5px;
      }
      .btn-login {
        width: fit-content;
        margin: auto;
      }
      .register {
        text-align: center;
        margin-top: 5px;
      }
    }
  }
  &__social {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-social {
      // padding: 5px 2px;
      border-radius: 20px;
      margin: auto 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
