$color-main: #faad14;
$color-light: #fffbe6;
$color-dark: #001529;
$color-grey-1: #656565;
$color-grey-2: rgba(0, 0, 0, 0.45);

// sub color
$color-5: #ffc53d;
$color-7: #d48806;
$color-8: #ad6800;
$color-9: #874d00;
$color-10: #613400;

$font-size-large: 2rem;

body,
html {
  font-size: 62.5%; // 10px
  background-color: #f2f2f2;
}

// re-custom from ant design
button {
  background-color: $color-main !important;
  border: none !important;
}

a {
  color: $color-main !important;
  &:hover {
    color: $color-7 !important;
  }
}

// checkbox
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $color-main !important;
  border-color: $color-main !important;
}

// input
input {
  &:hover {
    border: 1px solid $color-main !important;
  }
  &:focus {
    box-shadow: 0 0 0 2px #faad1446 !important;
    border: 1px solid $color-main !important;
  }
}

// select
.ant-select-selection {
  &:hover {
    border-color: $color-main !important;
  }
  &:focus {
    box-shadow: 0 0 0 2px #faad1446 !important;
    border: 1px solid $color-main !important;
  }
}

// menu
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item-selected {
  color: $color-main !important;
  border-bottom: 2px solid $color-main !important;
}
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: $color-main !important;
  border-bottom: 2px solid $color-main !important;
}
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover,
.ant-menu-submenu:hover {
  color: $color-main !important;
}
.ant-menu-submenu-title:hover {
  .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-arrow::after {
    background: $color-main !important;
  }
}

.message-error {
  color: red;
  text-align: center;
}

.heading-primary {
  background-image: linear-gradient(to right, #ffd666, #faad14);
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.sub-content {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 4rem;
  color: #8c8989;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes item-bottom-top {
  0% {
    transform: translateY(25rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes item-top-bottom {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes item-right-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes item-left-right {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
