@import "../../../default.style.scss";

.student-update-info-page {
  font-size: 16px;
  font-size: 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    text-transform: uppercase;
    font-size: $font-size-large;
    text-align: center;
    margin-top: 5rem;
    color: $color-main;
    div {
      color: #8c8989;
    }
  }
  &__avatar{
    margin-top: 10px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
  .text-alternative {
    margin-top: 20px;
  }
  .student-update-info-form {
    margin: 3rem auto;
    .content-form {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .student-update-info-form__block {
        margin: 0px 10px;
        &--title{
          color: $color-main;
          font-weight: bold;
        }
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      .btn-student-update-info {
        max-width: 200px;
        margin: auto;
      }
    }
  }
  .ant-form-item-required {
    margin: 0px;
  }
  .ant-form-item-label {
    label {
      margin: 0px;
    }
  }
}
