@import '../../common/common.style.scss';

.register-page {
  // margin: auto;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  &__card {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fffbe6;
    padding: 0em 5em;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    &__title {
      position: relative;
      text-transform: uppercase;
      font-size: $font-size-large;
      text-align: center;
      margin-top: 5rem;
      color: $color-main;
      .loading-icon {
        position: absolute;
        right: 0;
      }
    }
    &__body {
      margin: 3rem auto !important;
      // width: 400px;
      .btn-register {
        width: fit-content;
        margin: auto;
        margin-bottom: 1em;
      }
    }
  }
}
